

<h1>Bhaskcara</h1>
<p>Como e realizada: </p>
<b> colocar imagem </b>
<form [formGroup]="BhaskForm" (ngSubmit)="Bhas(BhaskForm.value.A, BhaskForm.value.B, BhaskForm.value.Delta)">
  <table>
    <tr>
      <td>
        Valor de A
        <input type="number" formControlName="A">
      </td>
    </tr>
    <tr>
      <td>
        Valor de B
        <input type="number" formControlName="B">
      </td>
    </tr>
    <tr>
      <td>
        Valor de Delta
        <input type="number" formControlName="Delta">
      </td>
    </tr>
   <button type="submit">Teste</button>
    <input type="number" formControlName="X1" value="{{X}}">
    <input type="number" formControlName="X2" value="{{XX}}">


  </table>
</form>

