

<h1>Bhaskcara</h1>
<p>Como e realizada: </p>
<b> colocar imagem </b>
<form [formGroup]="BhaskForm">
  <table>
    <tr>
      <td>
        Valor de A
        <input type="number" formControlName="A">
      </td>
    </tr>
    <tr>
      <td>
        Valor de B
        <input type="number" formControlName="B">
      </td>
    </tr>
    <tr>
      <td>
        Valor de Delta
        <input type="number" formControlName="Delta">
      </td>
    </tr>
    <button (click)="[X1(),X2()]">Calcular</button>
</table>
  </form>

