
<h1>Bhaskcara</h1>
<p>Como e realizada: </p>
<img src="" alt="imagem">
<form [formGroup]="BhaskForm" (ngSubmit)="Bhas(BhaskForm.value.A, BhaskForm.value.B, BhaskForm.value.Delta)">
  <table>
    <div>
      <label>Valor de A:</label>
      <input type="number" formControlName="A">
    </div>
    <div>
      <label>Valor de B:</label>
      <input type="number" formControlName="B">
    </div>
    <div>
      <label>Valor de Delta:</label>
      <input type="number" formControlName="Delta">
    </div>
    <div class="button">
      <button type="submit">Calcular Bhaskara</button>
    </div>
    <div>
     <label>Valor de X'</label>
     <input type="number" disabled value="{{XL1}}"><br>
     <label>Valor de X''</label>
     <input type="number" disabled value="{{XL2}}">
    </div>
  </table>
</form>

