<h1>Delta</h1>
<p>Como e feito: </p>
<b>Colocar imagem</b>
<form [formGroup]="DeltaForm" (ngSubmit)="CallDelta(DeltaForm.value.A, DeltaForm.value.B, DeltaForm.value.C)">
  <div>
       <label>Valor de A:</label>
       <input type="number" formControlName="A">
  </div>
  <div>
      <label>Valor de B:</label>
      <input type="number" formControlName="B">
  </div>
  <div>
    <label>Valor de C:</label>
    <input type="number" formControlName="C">
  </div>
  <div class="button">
    <button type="submit">Calular Delta</button>
  </div>
  <div>
    <label>Valor de Delta:</label>
    <input type="number" disabled value="{{Delta}}" >
  </div>
</form>
